<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp&nbsp;&nbsp;&nbsp;&nbsp;&nbsp</p>

<div class="row">
  <div class="col-md-3 mx-auto rounded text-white bg-dark" style="border: 2px solid black;">
    <h1>New project</h1>

    <%= render "form", project: @project %>

    <br>

    <div>
      <div class="btn btn-primary btn-sm my-2"><%= link_to "Back to projects", projects_path , :class => "btn" %></div>
    </div>
  </div>
</div>
